body{
    background-image: url(https://i.pinimg.com/originals/c2/53/9b/c2539b60237ef1d087bf3a3ec95ca422.jpg);
   background-size: cover;
   background-attachment: fixed;
    color: purple;}
h1{
    font-family: "Matemasie", sans-serif;
    font-weight: 100%;
    font-style: normal;}  
    p{
    font-weight: 50%;
    font-size: 20px;
    display: inline;
    padding: 0;
    margin: 0;}
    p1{position: relative;
    left: 20%;
    font-family: "Trirong", serif;
    font-style: normal;}
    p2{position: relative;
        left: 15%;
        font-family: "Trirong", serif;
        font-style: normal;}
    p3{position: relative;
        left: 10%;
        font-family: "Trirong", serif;
            font-style: normal;}
#t{position: relative;
    top: 70px;
    right: 60px;
    width: 12%;
    border-radius: 20px;}
#i{
    position: relative;
    top: 70px;
    right: 80px;
    width: 12%;
    border-radius: 20px;}
#s{
    position: relative;
    top: 70px;
    right: 75px;
    width: 14%;
    border-radius: 20px;}
a{
    text-decoration: none;
    display: inline;
    padding: 0;
    margin: 0;}
/* unvisited link */
a:link {
    color: red;}  
  /* visited link */
a:visited {
    color: purple;}  
  /* mouse over link */
a:hover {
    color: hotpink;}  
  /* selected link */
a:active {
    color: palevioletred;}